
.flex {
  display: flex
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-1 {
  flex: 1 1 0px;
}

.mb-1 {
  margin-bottom: 0.5rem;
}

.mr-1 {
  margin-right: 0.5rem;
}